{
  "env": {
    "browser": true
  },
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "always"],
    "max-len": ["error", 100]
  }
}
